.card {
  background-color: black;
  float: left;
  width: 100px;
  border-radius: 5px;
  height: 167px;
  margin-right: 40px;
}
.chipCount{
  position: relative;
  bottom: 100px;
  font-size: 420px;
  font-color: black;
}
.reset {
  background: url('../img/game_over_funny.jpg');
  position: absolute;
  left: 250px;
  top: 170px;
  margin: 50 auto;
  width:  500px;
  border: 10px;
  border-color: black;
  height: 299px;
  font-size: 40px;
  opacity: 0.4;
}

.covered {
  width: 110px;
  border-radius: 5px;
  height: 167px;
  opacity: 0;
}

.hand {
  overflow: auto;
}

.player-hand-container {
  margin: 0 auto;
  width:  50%;
}

.dealer-hand-container {
  margin: 0 auto;
  width:  50%;
}

button {
  margin: 0 auto;
}

body {
  background: url('https://www.superbuzzy.com/media/images/productimage-picture-felt-mini-115-color-444-grass-green-40175.jpg');
}
